.img{
    width: 80%;
}
a{
    text-decoration: none;
}
a:hover{
    color: orange
}
ul li{
    list-style-type: none;
}
.icon ul li{
    display: inline;
    line-height: 50px;
}
.menu:hover{
    color: orange;
    background-color: orange;
}
